
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    margin: 5em 20em;
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
    font-size: 15px;
    border: 2px dashed #00ff29;
    border-radius: 15px;
    color: #ffffff;
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Pixelify Sans", sans-serif;
    color: #00ff29;
}

h1{
    width: fit-content;
    margin: 0 auto;
}

h2, h3, h4, h5, h6 {
    padding-left: 10px;
}

.dashed-line {
    border: none; /* Remove default border */
    border-top: 2px dashed #00ff29; /* Dashed line, 2px thick, black color */
    margin: 20px 0; /* Optional: vertical spacing */
}

.network, .internet {
    margin: 50px auto;
    max-width: 800px;
    padding: 0 20px;
}

p {
    margin: 10px auto;
    padding-left: 10px;
    line-height: 1.5em;
}

.network ul, .network ol {
    margin-left: 2em;
}

.custom-list {
    list-style: none; /* Removes default bullets */
    padding-left: 0;  /* Optional: removes extra padding */
}

.custom-list li::before {
    content: '>'; /* Unicode arrowhead */
    font-weight: bold; /* Optional: make arrow thicker */
    margin-right: 15px; /* Space between arrow and text */
}

img {
    max-width: 50%;   /* Image will not exceed the width of its container */
    height: auto;      /* Maintains aspect ratio */
    display: block;    /* Removes unwanted gaps below image */
    margin: 0px auto;
}

figure {
    text-align: center;    /* Centers the image and caption */
    margin: 20px auto;     /* Adds spacing around the figure */
}

figcaption {
    margin-top: 10px;
    font-style: italic;    /* Optional: makes caption stand out */
    color: #fff;           /* Caption color */
    font-size: 0.7em;      /* Slightly smaller text */
}

mark {
    background-color: #ff3581; /* Custom highlight color */
    color: #fff;
    padding: 0.1em 0.2em;          /* Optional: make the highlight look cleaner */
    border-radius: 4px;        /* Optional: rounded corners */
}

#text-in-red {
    color: red;
}

a {
    text-decoration: none;
}

